body {
  margin: 70px 10px;
  padding: 50px 10px;
  min-width: none;
}
h1 {
  font-size: 60px;
  display: inline;
}
h2 {
  display: inline;
  font-size: 40px;
}
button {
  border: none;
  background: none;
  font-size: 25px;
}
footer {
  font-size: 12px;
  text-align: center;
}
#icon {
  position: relative;
  bottom: 20px;
  padding: 0;
}
#location-now {
  font-size: 20px;
  display: inline;
  transform: rotate(-40deg);
  margin: 0;
  padding: 0;
}
#location-now:hover {
  color: blue;
  cursor: pointer;
}
#weather-description:first-letter {
  text-transform: capitalize;
}
#enter-city {
  max-width: 200px;
  width: 100px;
  display: inline;
  margin: 0 10px;
}
#search-city {
  position: relative;
  bottom: 2px;
  font-size: 12px;
}
#celsiusButton,
#fahrenheitButton,
#slash {
  position: relative;
  bottom: 20px;
  font-size: 16px;
}
#fahrenheit-button,
#celsius-button {
  font-size: 16px;
  margin: 0;
  padding: 0;
}
#celsiusButton:hover {
  color: blue;
  text-decoration: none;
}
#fahrenheitButton:hover {
  color: blue;
  text-decoration: none;
}
.card {
  background: lightcyan;
}
.container {
  width: 600px;
  border: 4px solid blue;
  border-radius: 10px;
  background: lightblue;
}
.mb-3 {
  display: inline-block;
}
.searchEn {
  padding: 30px 0;
}
.day {
  padding: 5px 5px;
}

.nextDay {
  display: inline-block;
  padding: 15px 0;
  width: 80px;
  background: white;
}
.nextDay:hover {
  background: lightblue;
  cursor: pointer;
}
