body {
  margin: 70px 10px;
  padding: 50px 10px;
  min-width: none;
  background: #2b4353;
  font-family: "Jost", sans-serif;
}
h1 {
  font-size: 60px;
  display: inline;
}
h2 {
  display: inline;
  font-size: 40px;
}
button {
  border: none;
  background: none;
  font-size: 25px;
}
footer {
  font-size: 12px;
  text-align: center;
}
p {
  margin: 0;
}
div.card-body {
  padding: 14px;
}
#icon {
  position: relative;
  bottom: 20px;
  padding: 0;
}
#location-now {
  font-size: 20px;
  display: inline;
  transform: rotate(-40deg);
  display: inline-block;
  margin: 0;
  padding: 0;
}
#location-now:hover {
  color: #e8630a;
  cursor: pointer;
}
#weather-description:first-letter {
  text-transform: capitalize;
}
#enter-city {
  max-width: 200px;
  width: 100px;
  display: inline;
  margin: 0 10px;
}
#search-city {
  position: relative;
  bottom: 2px;
  font-size: 12px;
}
#celsiusButton,
#fahrenheitButton,
#slash {
  position: relative;
  bottom: 20px;
  font-size: 16px;
}
#fahrenheit-button,
#celsius-button {
  font-size: 16px;
  margin: 0;
  padding: 0;
}
#celsiusButton:hover {
  color: #e8630a;
  text-decoration: none;
}
#fahrenheitButton:hover {
  color: #e8630a;
  text-decoration: none;
}
#max-temp,
#min-temp {
  font-size: 13px;
  display: inline;
}
#min-temp {
  opacity: 0.7;
}
#more-info {
  text-decoration: none;
  font-size: 14px;
  color: grey;
}
#more-info:hover {
  color: #e8630a;
}
#comment {
  text-decoration: none;
  color: #8a3902;
}
.btn {
  background: #e8630a;
  border: none;
}
.container {
  width: 650px;
  border: 3px groove #e8630a;
  border-radius: 10px;
  background: #b6e1e0;
}
.mb-3 {
  display: inline-block;
}
.searchEn {
  padding: 30px 0;
}
.day {
  padding: 5px 5px;
}

.nextDay {
  display: inline-block;
  padding: 15px 0;
  width: 80px;
  border: none;
  background: #9cd3d3;
}
.col-2 {
  text-align: center;
}
